# Review: Quiz 1

Question 1: Lists and Strings

Suppose that you have a list of strings named examples. Write a Python loop that goes through the list and prints each string where the string length is three or more and the first and last characters of the strings are the same.

Test your code on the following three versions of the list examples:
examples = ['abab', 'xyz', 'aa', 'x', 'bcb']
examples = ['', 'x', 'xy', 'xyx', 'xx']
examples = ['aaa', 'be', 'abc', 'hello']

You may do this exercise either in the interpreter or in a program. Please submit your code and the output from the three examples.

In [31]:
import re 

examples = ['aaa', 'be', 'abc', 'hello']

for example in examples:
    stringlength = len(example) # length of the string
    try:
        firstchar = example[0] # 
        lastchar = example[stringlength-1]
    
        if stringlength >= 3 and firstchar == lastchar:
            print(example)
    except IndexError:
        continue

aaa

In [27]:
examples = ['abab', 'xyz', 'aa', 'x', 'bcb']

stringlength = len(examples[0]) 
stringlength

firstchar = examples[0][0]
firstchar

lastchar = examples[0][stringlength-1]
lastchar

'b'

Question 2: Reading and processing data in a file

For this question, you are to write a program that reads the data in the file state_satscores_2004.txt. Each line of this file has name of a state, mean Verbal SAT score, and mean Math SAT score.

After reading the data, 
a. Print the state with the highest mean Verbal SAT score 
b. Print each state that has a mean Math SAT score greater than 500

Submit the code and the output from your program.

You may use the code developed for the NBA data as a template, but it is absolutely essential that you use appropriate variable names and that you write original comments for what your program does.

If you prefer, you can write this program with a csv reader, using state_satscores_2004.tsv.

In [34]:
# Courtesy of Pierre 
import pandas as pd

scores = pd.read_csv('state_satscores_2004.tsv',sep="\t",header=None)

scores.columns = ['State','Mean_Verbal','Mean_Math', 'delete']
scores = scores.drop(columns='delete',axis=1)
scores = scores.set_index('State')
scores.sort_values(by='Mean_Verbal',ascending=False).head(1)

              Mean_Verbal  Mean_Math
State
South Dakota          594        597

In [35]:

highMath = scores[scores['Mean_Math'] > 500]
highMath

                Mean_Verbal  Mean_Math
State
New York                497        510
Connecticut             515        515
Massachusetts           518        523
New Jersey              501        514
New Hampshire           522        521
Maine                   505        501
Pennsylvania            501        502
Rhode Island            503        502
Virginia                515        509
North Carolina          499        507
Maryland                511        515
Vermont                 516        512
Indiana                 501        506
Hawaii                  487        514
Oregon                  527        528
Alaska                  518        514
Washington              528        531
California              501        519
Nevada                  507        514
Arizona                 523        524
Montana                 537        539
Ohio                    538        542
Colorado                554        553
Idaho                   540        539
West Virginia           524        514
Tennessee               567        557
New Mexico              554        543
Kentucky                559        557
Wyoming                 551        546
Michigan                563        573
Illinois                585        597
Minnesota               587        593
Alabama                 560        553
Kansas                  584        585
Louisiana               564        561
Missouri                587        585
Nebraska                569        576
Oklahoma                569        566
Wisconsin               587        596
Utah                    565        556
Arkansas                569        555
Iowa                    593        602
South Dakota            594        597
Mississippi             562        547
North Dakota            582        601

In [ ]:
# Alternative solution (courtesy of Shawn Anderson)
import os


os.chdir('/Users/jason/Downloads')

satfile = open ('state_satscores_2004.txt', 'r')
# reset count for printing line numbers
satlist = [ ]
T500 = []
for line in satfile:
    textline = line.strip()
    # split the line on whitespace
    items = textline.split()
    # add the list of items to the NBAlist
    satlist.append(items)
    #sort on the second element
    satsort = sorted(satlist, key=lambda item:item[1])
#print the last element - being the highest Verbal
    if int(items[2]) >= int(500):
        T500.append(items)#print(items)
        #satlist[1][2])
print(satsort[-1][0],'holds the highest Verbal SAT score,',satsort[-1][1],'/n')
T500 = sorted(T500, key=lambda item:item[2])
print('/n',T500)
satfile.close()

# Review: handling data in pandas



Repeat the activity that we just went through in the lecture to read the data from the provided State Data. Transform the data.

state_data = {'State':['Alabama','Alaska','Arizona','Arkansas'],'PostCode':['AL','AK','AZ','AR'],'Area':['52,423','656,424','*','53,182'],'Pop':['4,040,587','550,043','3,665,228','2,350,750']}

Create a dataframe using pd.DataFrame(state_data, columns=['State','PostCode','Area','Pop'].

Display the table.

Index the table by 'State'.

Replace the '*' with '0'.

Define a function to replace ',' with ''.

Use this function to replace the commas in 'Area' and 'Pop'.

Submit your code and a final display of your table.

In [18]:
# Courtesy of Jennifer Mead
import numpy as np
import pandas as pd

state_data = {'State':['Alabama','Alaska','Arizona','Arkansas'],
              'PostCode':['AL','AK','AZ','AR'],
              'Area':['52,423','656,424','*','53,182'],
              'Pop':['4,040,587','550,043','3,665,228','2,350,750']
             }

'Alaska'

In [ ]:
# 1 and 2
state_df = pd.DataFrame(state_data, 
                        columns = ['State', 'PostCode', 'Area', 'Pop'])
state_df

In [ ]:
# 3
state_df['State']

In [ ]:
# 4
state_df = state_df.replace('*','0')
state_df

In [ ]:
# 5
def rid_commas(string_to_change):
    return string_to_change.replace(',','')

In [ ]:
# 6
state_df['Pop'] = state_df['Pop'].map(rid_commas)
state_df['Area'] = state_df['Area'].map(rid_commas)
state_df

# HTML Exercise: Courtesy of Brad Coy

In [36]:
# Obtain HTML data via urllib
from urllib import request

# Set the URL to scrape
syrurl = "https://news.syr.edu/blog/2019/07/24/light-work-awarded-100000-grant-from-the-andy-warhol-foundation-for-the-visual-arts/"

## Open, read, and decode the URL
response = request.urlopen(syrurl).read().decode('utf8')

# Check the type of the response variable
print('The response type is:', type(response), '\n')

# Print the first 500 characters of the response
print('The beginning of the response is:', '\n', response[:500])

The response type is: <class 'str'>

The beginning of the response is:
 <!DOCTYPE html>
<html lang="en-US">
<head>
	<!-- meta -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
		<!-- type -->
			<meta name="twitter:card" content="summary" />
			<meta property="og:type" content="article"/>
		<!-- site -->
			<meta name="twitter:site" content="@SyracuseUNews" />
			<meta property="og:site_name" content="SU News"/>
		<!-- title -->
			<meta name="twitter:title" content="Light Work Awarded $100,0

In [37]:
# Parse the HTML response via beautiful soup

from bs4 import BeautifulSoup

# Parse the response variable
parsed = BeautifulSoup(response, 'html.parser')

# Check the type of the parsed variable
print('The new object type is:', type(parsed), '\n')

# Title of the webpage
print('The title of the webpage is:', parsed.title.get_text(), '\n')

# Print the first 10 tags
print('The first ten tags are:', parsed.find_all('a')[:10])

The new object type is: <class 'bs4.BeautifulSoup'>

The title of the webpage is: Light Work Awarded $100,000 Grant from the Andy Warhol Foundation for the Visual Arts – Syracuse University News

The first ten tags are: [<a class="skip-link screen-reader-text" href="#entry-title">Skip to main content</a>, <a href="https://news.syr.edu/" title="Home">Home</a>, <a href="https://news.syr.edu/about/" title="About">About</a>, <a href="https://news.syr.edu/faculty-experts/" title="Faculty Experts">Faculty Experts</a>, <a href="https://news.syr.edu/for-the-media/" title="For The Media">For The Media</a>, <a href="https://news.syr.edu/videos/" title="Videos">Videos</a>, <a href="https://news.syr.edu/topics/" title="Topics">Topics</a>, <a href="https://news.syr.edu/topics/alumni/" title="Alumni">Alumni</a>, <a href="https://news.syr.edu/topics/events/">Events</a>, <a href="https://news.syr.edu/topics/faculty/" title="Faculty">Faculty</a>]

# HTML Exercise Courtesy of Amelia Green

In [1]:
# -*- coding: utf-8 -*-
"""
Created on Mon Feb  3 20:41:18 2020

@author: MrAndMrsKeith
"""

from urllib import request
superbowlurl = "https://www.wralsportsfan.com/after-super-bowl-win-chiefs-already-eyeing-repeat-next-year/18927591/"
# response = request.urlopen(superbowlurl)
# print(type(response))

# #If we just read the response, we get a sequence of bytes, so instead we decode it to convert it to a Python string.
# html = response.read().decode('utf8')
# print(type(html))

html = request.urlopen(superbowlurl).read().decode('utf8')

print(html[:500])

<!doctype html>
<!--[if IE 8]>       <html lang="en" xml:lang="en" class="no-js lt-ie9 site-wralsportsfan sports"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" xml:lang="en" class="no-js site-wralsportsfan sports"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>After Super Bowl win, Chiefs already eyeing repeat next year :: WRALSportsFan.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="preconnect" href="//fonts.googl

BeautifulSoup
The Python package BeautifulSoup will parse the HTML document to find its structure, fixing any non-well-formed tag structure as best it can.
http://www.crummy.com/software/BeautifulSoup/bs4/doc/
[An alternate package sometimes used is lxml.]
The typical use is to use the BeautifulSoup parser on an HTML document to get a soup object:

In [2]:
from bs4 import BeautifulSoup
htmlsoup = BeautifulSoup(html, 'html.parser')
print(type(htmlsoup))

#A BeautifulSoup object corresponds to a tag. Every tag has a name, (possibly) some attributes, a value, and (possibly) some children. When you have a tag, you can get information about that as a node in the tree structure generated by the tags of the document. You can then navigate anything below that tag in the tree, either by looking for specific tags or by following the children.
#So every tag and tag structure can be found from the object that we obtained from the parser. If you give the name of a tag, it will find the first instance of that tag.
firsttitle = htmlsoup.title
print(firsttitle)
print(type(firsttitle))
print(firsttitle.name)
#Use the get_text() function to get the actual tag content:
print(firsttitle.get_text())

<class 'bs4.BeautifulSoup'>
<title>After Super Bowl win, Chiefs already eyeing repeat next year :: WRALSportsFan.com</title>
<class 'bs4.element.Tag'>
title
After Super Bowl win, Chiefs already eyeing repeat next year :: WRALSportsFan.com

# Finding Anchor tags

We can also use the find_all() function to return a ResultSet of all the instances of that tag:

In [3]:
anchors = htmlsoup.find_all('a')
print(type(anchors))
print(len(anchors))

print(anchors[:8])

#For each anchor, â€˜aâ€™ tag, we use the â€˜hrefâ€™ attribute to get the actual anchor part, where I converted the result to an actual string:
links = [str(link.get('href')) for link in htmlsoup.find_all('a')]
print(links[ :10])

outlinks = [link for link in links if link.startswith('http')]
print(len(outlinks))
print(outlinks[:10])

<class 'bs4.element.ResultSet'>
612
[<a class="skip-link" href="#g-wrap-main">skip to main content</a>, <a class="go-back" href="https://www.wral.com/">
<span class="icon icon-ico-arrow-l"></span>
<span class="go-back-text">WRAL.com</span>
</a>, <a href="https://www.milb.com/durham">Durham Bulls</a>, <a href="https://www.wralsportsfan.com/sportsradio/">Sports Radio</a>, <a href="https://www.wralsportsfan.com/espntriangle/asset_gallery/14766290/">Podcasts</a>, <a class="nav-sign-in" href="https://www.wral.com/rs/page/2173159/?forwardto=https%3A%2F%2Fwww.wralsportsfan.com%2Fafter-super-bowl-win-chiefs-already-eyeing-repeat-next-year%2F18927591%2F">Sign In<span class="dropdown-carat"></span></a>, <a class="reset" href="/rs/page/2173159/?s=password_recovery">Forgot your password?</a>, <a href="https://www.wral.com/rs/page/2173159/?s=registration">Register here.</a>]
['#g-wrap-main', 'https://www.wral.com/', 'https://www.milb.com/durham', 'https://www.wralsportsfan.com/sportsradio/', 'https://www.wralsportsfan.com/espntriangle/asset_gallery/14766290/', 'https://www.wral.com/rs/page/2173159/?forwardto=https%3A%2F%2Fwww.wralsportsfan.com%2Fafter-super-bowl-win-chiefs-already-eyeing-repeat-next-year%2F18927591%2F', '/rs/page/2173159/?s=password_recovery', 'https://www.wral.com/rs/page/2173159/?s=registration', '/', '/voices/']
209
['https://www.wral.com/', 'https://www.milb.com/durham', 'https://www.wralsportsfan.com/sportsradio/', 'https://www.wralsportsfan.com/espntriangle/asset_gallery/14766290/', 'https://www.wral.com/rs/page/2173159/?forwardto=https%3A%2F%2Fwww.wralsportsfan.com%2Fafter-super-bowl-win-chiefs-already-eyeing-repeat-next-year%2F18927591%2F', 'https://www.wral.com/rs/page/2173159/?s=registration', 'http://www.highschoolot.com/content/blog/3274743/', 'https://www.highschoolot.com/highschoolot-honors/17504324/', 'https://www.wral.com/content/creative_services/promos/clickthru?oaparams=2__bannerid=1282__zoneid=1__cb=3ea43bafd8__oadest=https%3A%2F%2Fwww.nbc.com%2Flive', 'https://www.highschoolot.com/highschoolot-honors/17504324/']