## Unit 4 Live Session Sandbox
## Jason Anastasopoulos (ljanastas@syr.edu)

### Topics:

- Functions exercise 4.2
- Try/except
- Dictionaries (continued)
- Reading and manipulating CSV files
- Sorting
- Creating functions

## Exercise 4.2 on Functions (courtesy of Rebecca Boyer)

In [ ]:
# Exercise 4.2 on Functions
#Exercise 1
#d.) ABD Zap ABC
#However, the python code written actually wouldn't work at all since the print() function needs those parantheses when defining what would be printed. The code SHOULD read:

def fred():
	print("Zap")
def jane():
	print("ACB")
jane()
fred()
jane()

In [ ]:
#Exercise 2
def paycalculator():
...     hours = float(input('Enter Hours: '))
...     rate = float(input('Enter Rate: '))
...     if hours > 40:
...             pay = ((hours - 40) * (rate * 1.5)) + (40 * rate)
...     else:
...             pay = hours * rate
...     print('Pay:', pay)
...
>>> paycalculator()

# The above prompts users to enter their own data and has a conditional statement for when overtime is not a factor.

## Exercise 4.3 Categorical Summarization (Courtesy of Anaya Fleary)

Write a program which repeatedly reads numbers until the user enters 'done'. Once 'done' is entered, print out the total, count, and average of the numbers. If the user enters anything other than a number, detect their mistake using try and except and print an error message and skip to the next number.

Submit your code and the results you got from running your program.

Check a couple of your classmates to see what they did.

In [1]:
sum = 0
count = 0
average = 0

while True:
  try:
    x = input("Enter a number: ")
    if (x == "done"): 
     break
    value = float(x)
    sum = value + sum
    count = count + 1
    average = sum / count
  except:
    print("Invalid input.")
print (sum, count, average)

Enter a number: 3
Enter a number: done
3.0 1 3.0

## Exercises 4.4 Numeric Arrays (Courtesy of Meng Synn)

In [ ]:
import numpy as np

# Generate a numpy array of size 4 by 5.
a = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10],
              [11, 12, 13, 14, 15], [16, 17, 18, 19, 20]])

# a. Use Index Slicing and show how to get the subarray consisting of the last two rows and the third and fourth columns.
print(a[1, 3])
# b. Show how to create a one-dimensional array that sums the columns
b = np.array([1, 2, 3, 4, 5])
print(sum(b[:]))

# Dealing with Errors

### Our code without defining an exception

In [5]:
    score = input("Enter score: ")
    score =float (score)
    if score >= 0.9 and score <=1.0:
        print ("Grade: A ")
    elif score >= 0.8 and score <=0.9 :
        print ("Grade: B ")
    elif score >= 0.7 and score <=0.8:
        print ("Grade: C ") 
    elif score >= 0.6 and score <=0.7 :
        print ("Grade: D ") 
    elif score < 0.6 :
        print ("Grade: F ")
    else:
        print ("Bad score")

Enter score: Dud

ValueError: could not convert string to float: 'Dud'

### Code after defining an exception

In [11]:
try:
    score = input("Enter score: ")
    score =float (score)
    if score >= 0.9 and score <=1.0:
        print ("Grade: A ")
    elif score >= 0.8 and score <=0.9 :
        print ("Grade: B ")
    elif score >= 0.7 and score <=0.8:
        print ("Grade: C ") 
    elif score >= 0.6 and score <=0.7 :
        print ("Grade: D ") 
    elif score < 0.6 :
        print ("Grade: F ")
    else:
        print ("Bad score")
except ValueError:
    print("Sorry, you entered a string when we expected a number between 0 and 1, try again")

Enter score: hfjkhsd-23879uyi hsdfsf
Sorry, you entered a string when we expected a number between 0 and 1, try again

## Dictionaries

In [41]:
emptydict = dict()
#type(emptydict)

phonedict = {'eric': '454-5555', 'john':'454-5195'}

len(phonedict)

# Retrieve the keys
phonekeys = phonedict.keys()

# Retreive the values
phonevalues = phonedict.values()

# Look up a value  in the dictionary 
phonedict['john']

'454-5195'

## Reading and manipulating csv files

In [42]:
# This program reads the data from the states tsv file

#     Each line has the state name, abbreviation, postal code, area and population.

# It stores the items in each line in a dictionary whose keys represent the column names.

#     It print the state name, abbreviation and population for each state.


import csv

infile = 'states_data.tsv'
#infile.path  = '/Users/jason/Dropbox/Teaching/Syracuse-Scripting-2019/Unit 3/states_data.tsv'


# create new empty list

statesList = []

with open(infile, 'r') as csvfile:

    # the csv file reader returns a list of the csv items on each line

    stateReader = csv.reader(csvfile,  dialect='excel', delimiter='\t')


    # from each line, a list of row items, put each element in a dictionary

    #   with a key representing the data

    for line in stateReader:

      # skip lines without data, specific for each file to catch non-data lines

      if line[0] == '' or line[0].startswith('Data') or line[0].startswith('*'):

          continue

      else:

          # create a dictionary for each state

          state = {}

          # add each piece of data under a key representing that column data

          state['name'] = line[0]

          state['abbrev'] = line[1]

          state['code'] = line[2]

          state['area'] = int(line[3].replace(',',''))

          state['pop'] = int(line[4].replace(',',''))

          # The dictionary for Alabama
          # state = {'name': 'Alabama', 'abbrev': 'Ala.', 'code':'AL', 'area': 52423, 'pop':4040587}
          # add this state to the list

          statesList.append(state)

statesList

#csvfile.close()


#print ("Read", len(statesList), "state data")


# print a few fields from all of the states read from the file


#for state in statesList:

#    print ('State:', state['name'], ' Abrv: ', state['abbrev'], ' Population: ', state['pop'])

[{'name': 'Alabama',
  'abbrev': 'Ala.',
  'code': 'AL',
  'area': 52423,
  'pop': 4040587},
 {'name': 'Alaska',
  'abbrev': 'Alaska',
  'code': 'AK',
  'area': 656424,
  'pop': 550043},
 {'name': 'Arizona',
  'abbrev': 'Ariz.',
  'code': 'AZ',
  'area': 114006,
  'pop': 3665228},
 {'name': 'Arkansas',
  'abbrev': 'Ark.',
  'code': 'AR',
  'area': 53182,
  'pop': 2350725},
 {'name': 'California',
  'abbrev': 'Calif.',
  'code': 'CA',
  'area': 163707,
  'pop': 29769021},
 {'name': 'Colorado',
  'abbrev': 'Colo.',
  'code': 'CO',
  'area': 104100,
  'pop': 3294394},
 {'name': 'Connecticut',
  'abbrev': 'Conn.',
  'code': 'CT',
  'area': 5544,
  'pop': 3287116},
 {'name': 'Delaware',
  'abbrev': 'Del.',
  'code': 'DE',
  'area': 2489,
  'pop': 666168},
 {'name': 'District of Columbia',
  'abbrev': 'D.C.',
  'code': 'DC',
  'area': 68,
  'pop': 606900},
 {'name': 'Florida',
  'abbrev': 'Fla.',
  'code': 'FL',
  'area': 65756,
  'pop': 12937926},
 {'name': 'Georgia',
  'abbrev': 'Ga.',
  'code': 'GA',
  'area': 59441,
  'pop': 6478216},
 {'name': 'Hawaii',
  'abbrev': 'Hawaii',
  'code': 'HI',
  'area': 10932,
  'pop': 1108229},
 {'name': 'Idaho',
  'abbrev': 'Idaho',
  'code': 'ID',
  'area': 83574,
  'pop': 1006749},
 {'name': 'Illinois',
  'abbrev': 'Ill.',
  'code': 'IL',
  'area': 57918,
  'pop': 11430602},
 {'name': 'Indiana',
  'abbrev': 'Ind.',
  'code': 'IN',
  'area': 36420,
  'pop': 5544159},
 {'name': 'Iowa',
  'abbrev': 'Iowa',
  'code': 'IA',
  'area': 56276,
  'pop': 2776755},
 {'name': 'Kansas',
  'abbrev': 'Kans.',
  'code': 'KS',
  'area': 82282,
  'pop': 2477574},
 {'name': 'Kentucky',
  'abbrev': 'Ky.',
  'code': 'KY',
  'area': 40411,
  'pop': 3685296},
 {'name': 'Louisiana',
  'abbrev': 'La.',
  'code': 'LA',
  'area': 51843,
  'pop': 4219973},
 {'name': 'Maine',
  'abbrev': 'Maine',
  'code': 'ME',
  'area': 35387,
  'pop': 1227928},
 {'name': 'Maryland',
  'abbrev': 'Md.',
  'code': 'MD',
  'area': 12407,
  'pop': 4781468},
 {'name': 'Massachusetts',
  'abbrev': 'Mass.',
  'code': 'MA',
  'area': 10555,
  'pop': 6016425},
 {'name': 'Michigan',
  'abbrev': 'Mich.',
  'code': 'MI',
  'area': 96705,
  'pop': 9295297},
 {'name': 'Minnesota',
  'abbrev': 'Minn.',
  'code': 'MN',
  'area': 86943,
  'pop': 4375099},
 {'name': 'Mississippi',
  'abbrev': 'Miss.',
  'code': 'MS',
  'area': 48434,
  'pop': 2573216},
 {'name': 'Missouri',
  'abbrev': 'Mo.',
  'code': 'MO',
  'area': 69709,
  'pop': 5117073},
 {'name': 'Montana',
  'abbrev': 'Mont.',
  'code': 'MT',
  'area': 147046,
  'pop': 799065},
 {'name': 'Nebraska',
  'abbrev': 'Nebr.',
  'code': 'NE',
  'area': 77358,
  'pop': 1578385},
 {'name': 'Nevada',
  'abbrev': 'Nev.',
  'code': 'NV',
  'area': 110567,
  'pop': 1201833},
 {'name': 'New Hampshire',
  'abbrev': 'N.H.',
  'code': 'NH',
  'area': 9351,
  'pop': 1109252},
 {'name': 'New Jersey',
  'abbrev': 'N.J.',
  'code': 'NJ',
  'area': 8722,
  'pop': 7730188},
 {'name': 'New Mexico',
  'abbrev': 'N.Mex.',
  'code': 'NM',
  'area': 121598,
  'pop': 1515069},
 {'name': 'New York',
  'abbrev': 'N.Y.',
  'code': 'NY',
  'area': 54471,
  'pop': 17990455},
 {'name': 'North Carolina',
  'abbrev': 'N.C.',
  'code': 'NC',
  'area': 53821,
  'pop': 6628637},
 {'name': 'North Dakota',
  'abbrev': 'N.Dak.',
  'code': 'ND',
  'area': 70704,
  'pop': 638800},
 {'name': 'Ohio',
  'abbrev': 'Ohio',
  'code': 'OH',
  'area': 44828,
  'pop': 10847115},
 {'name': 'Oklahoma',
  'abbrev': 'Okla.',
  'code': 'OK',
  'area': 69903,
  'pop': 3145585},
 {'name': 'Oregon',
  'abbrev': 'Oreg.',
  'code': 'OR',
  'area': 98386,
  'pop': 2842321},
 {'name': 'Pennsylvania',
  'abbrev': 'Pa.',
  'code': 'PA',
  'area': 46058,
  'pop': 11881643},
 {'name': 'Rhode Island',
  'abbrev': 'R.I.',
  'code': 'RI',
  'area': 1545,
  'pop': 1003464},
 {'name': 'South Carolina',
  'abbrev': 'S.C.',
  'code': 'SC',
  'area': 32008,
  'pop': 3468703},
 {'name': 'South Dakota',
  'abbrev': 'S.Dak.',
  'code': 'SD',
  'area': 77121,
  'pop': 696004},
 {'name': 'Tennessee',
  'abbrev': 'Tenn.',
  'code': 'TN',
  'area': 42146,
  'pop': 4877185},
 {'name': 'Texas',
  'abbrev': 'Tex.',
  'code': 'TX',
  'area': 268601,
  'pop': 16986510},
 {'name': 'Utah',
  'abbrev': 'Utah',
  'code': 'UT',
  'area': 84904,
  'pop': 1722850},
 {'name': 'Vermont',
  'abbrev': 'Vt.',
  'code': 'VT',
  'area': 9615,
  'pop': 562758},
 {'name': 'Virginia',
  'abbrev': 'Va.',
  'code': 'VA',
  'area': 42777,
  'pop': 6187358},
 {'name': 'Washington',
  'abbrev': 'Wash.',
  'code': 'WA',
  'area': 71302,
  'pop': 4866692},
 {'name': 'West Virginia',
  'abbrev': 'W.Va.',
  'code': 'WV',
  'area': 24231,
  'pop': 1793477},
 {'name': 'Wisconsin',
  'abbrev': 'Wis.',
  'code': 'WI',
  'area': 65499,
  'pop': 4891769},
 {'name': 'Wyoming',
  'abbrev': 'Wyo.',
  'code': 'WY',
  'area': 97818,
  'pop': 453588},
 {'name': 'United States',
  'abbrev': '',
  'code': '',
  'area': 3787316,
  'pop': 248691873}]

# Sorting lists

In [1]:
# List sorting code here

# Functions and documentation strings

In [12]:
# Function code here.
def hello():
    print('Hello')

In [13]:
hello()

Hello

In [16]:
def area(width, height):
    a = width*height
    return a

In [17]:
area(3,4)

12